*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #468C98;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    height: 70vh;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    gap: 1.5vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.9);
    font-size: 8vmin;
    background-color: aliceblue;
    font-weight: 700;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #101419;
    color: white;
    border: none;
    border-radius: 1rem;
}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #101419;
    color: white;
    border: none;
    border-radius: 1rem;

}
#msg {
    color: white;
    font-size: 8vmin;
}

.msg-container {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.8rem;
}

.hide{
    display: none;
}


